@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

body {
    font-family: 'Sora', sans-serif;
    color: #ffffff;
}

div {
    width: 500px;
    background-color: #000000;
}
